# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

pool:
  vmimage: ubuntu-latest

stages:
- stage: Build
  displayName: Create build folder using npm
  jobs:
    - job: npmbuild
      displayName: Create build folder using npm
      steps:
      - script: npm install
      - script: npm run build
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: buildAndPush
        containerRegistry: docker.io
        repository: amitbb16/frontendProject
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
- stage: Deploy
  displayName: Deploy to GKE Cluster
  jobs:
  - job: Deploy
    displayName: Deploy to GKE Cluster
    steps:
    - task: Kubernetes@1
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: 'gke-dev-clusters'
        namespace: dev
        command: apply
        arguments: -f  k8s/deployment/
    - task: Kubernetes@1
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceEndpoint: 'gke-dev-clusters'
        namespace: dev
        command: set
        arguments: image deployment/frontend frontend=amitbb16/frontendproject:$(tag)
    
